@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;400;700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins"; }

li, a {
  font-family: "Baskerville";
  font-size: 20px; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #E977AC;
  text-align: center;
  padding: 200px 0px 0px 0px; }

h2 {
  text-align: center;
  color: #E977AC; }

h3 {
  font-style: normal;
  font-size: 16px;
  color: black; }

h4 {
  font-size: 20px;
  color: #E977AC;
  text-align: center; }

h5 {
  font-size: 40px;
  color: white;
  text-align: center; }

h6 {
  font-size: 20px;
  color: white;
  text-align: center; }

p {
  font-family: "Baskerville";
  text-align: center;
  color: black;
  font-size: 18px; }

header {
  grid-area: header;
  position: fixed;
  z-index: 100;
  width: 100%; }

/* Menú principal */
.fondoheader {
  background-image: url(../imagenes/fondo.png);
  background-repeat: none;
  background-size: cover;
  padding: 10px;
  text-align: center; }
  .fondoheader .isologotipo {
    width: 250px; }
  .fondoheader .isotipo {
    display: none; }

.menu {
  background-image: linear-gradient(to bottom right, #E977AC, #FFDCF4); }
  .menu .container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
    .menu .container-fluid .navbar-toggler {
      border: solid white; }
  .menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    .menu ul li {
      display: flex;
      display: inline-block; }
      .menu ul li a {
        color: white;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-style: bold;
        font-size: 16px; }
        .menu ul li a:hover {
          background-color: white;
          border-radius: 5px;
          color: #E977AC; }

/* Ocultar isologotipo y aparece isotipo en Mobile */
@media (max-width: 767px) {
  .fondoheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .fondoheader .isologotipo {
      display: none; }
    .fondoheader .isotipo {
      display: flex;
      width: 80px;
      height: 80px; } }

body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  /*8fr en total*/
  grid-template-areas: "header header header header header" ". main main main ." ". main main main ." "footer footer footer footer footer"; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/* Footer */
.flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: radial-gradient(circle, #FFDCF4, #E977AC);
  padding: 50px; }
  .flex-footer .logo-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin: 5px; }
    .flex-footer .logo-footer #item-footer ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; }

#item-footer ul li {
  display: flex;
  display: inline-block; }
  #item-footer ul li a {
    color: white;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 16px; }
    #item-footer ul li a img {
      width: 60px;
      height: 60px;
      filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(38deg) brightness(100%) contrast(106%); }
  #item-footer ul li a:hover img {
    filter: invert(75%) sepia(19%) saturate(5284%) hue-rotate(292deg) brightness(97%) contrast(88%); }

.logowhite {
  width: 90%; }

.logo-footer p {
  font-size: 14px;
  color: white;
  padding: 10px 0px 0px 0px; }

@media (max-width: 767px) {
  .flex-footer {
    flex-wrap: wrap-reverse;
    justify-content: center; } }

/* 3 imagenes principales */
.flex-principal {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .flex-principal .principal-item {
    width: 2fr;
    height: 100%;
    padding: 0px 10px 30px 10px; }
    .flex-principal .principal-item img {
      border-radius: 15px; }

/* Galería de tentaciones */
.titulo-tentaciones {
  padding: 30px; }

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: cover; }
  .galeria img {
    border-radius: 15px; }

.galeria-item {
  width: 150px;
  margin: 5px;
  transition: all 0.3s ease-in; }
  .galeria-item:hover {
    transform: scale(1.1, 1.1); }

/* Universo Rocherie */
.cajauniverso {
  margin: 30px 0px 30px 0px; }

.imguniverso {
  width: 100%; }

.contenidouniverso {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .contenidouniverso .universo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }

/* Media Query Mobile 3 imagenes principales */
@media (max-width: 819px) {
  .flex-principal {
    flex-direction: column; } }

@media (max-width: 819px) {
  .flex-principal .principal-item {
    padding: 0px 0px 30px 0px; } }

@media (max-width: 819px) {
  .principal-item img {
    width: 100%; } }

/* Media Query Tablet 3 imagenes principales */
@media (min-width: 820px) {
  .flex-principal {
    flex-direction: row; } }

@media (min-width: 820px) {
  .flex-principal .principal-item {
    padding: 0px 10px 30px 10px; } }

@media (min-width: 820px) {
  .principal-item img {
    width: 100%; } }

/* Media Query Tablet Galeria de Tentaciones */
@media (min-width: 820px) {
  .galeria {
    flex-wrap: nowrap; } }

@media (min-width: 820px) {
  .galeria-item img {
    width: 100%; } }

/* Media Query Mobile Universo Rocherie */
@media (max-width: 767px) {
  .contenidouniverso {
    padding: 50px; } }

/* Cuadro de texto + 2 Imagenes (secciones) */
.cajasecciones {
  margin: 30px 0px 30px 0px; }

.imgsecciones {
  width: 100%;
  border-radius: 10px; }

.contenidosecciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 10px 10px; }
  .contenidosecciones .secciones-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    border: 2px dotted #E977AC;
    border-radius: 10px; }
  .contenidosecciones .imgsecciones {
    object-fit: cover; }

/* Galeria de tortas tradicionales */
.tradicionales-secciones {
  margin: 30px 0px 30px 0px; }
  .tradicionales-secciones .contenido-tradicionales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tradicionales-secciones .contenido-tradicionales h4 {
      padding: 20px 0px 20px 0px; }
    .tradicionales-secciones .contenido-tradicionales p {
      padding: 0px 0px 20px 0px; }
    .tradicionales-secciones .contenido-tradicionales .img-seccion-tradicionales {
      width: 100%;
      border-radius: 10px; }

/* Carousel */
.carousel-item img {
  border-radius: 10px; }

.creadores {
  background-image: url(../imagenes/fondo.png);
  background-repeat: repeat-y;
  width: 100%; }

/* Galeria de tortas tradicionales */
.tartas-secciones {
  margin: 30px 0px 0px 0px; }
  .tartas-secciones .contenido-tradicionales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tartas-secciones .contenido-tradicionales h4 {
      padding: 20px 0px 20px 0px; }
    .tartas-secciones .contenido-tradicionales p {
      padding: 0px 0px 20px 0px; }
    .tartas-secciones .contenido-tradicionales .img-seccion-tradicionales {
      width: 100%;
      border-radius: 10px; }

/* Galeria de tortas tradicionales */
.shot-secciones {
  background-color: #E977AC; }
  .shot-secciones .contenido-tradicionales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; }
    .shot-secciones .contenido-tradicionales h4 {
      padding: 20px 0px 20px 0px;
      color: white; }
    .shot-secciones .contenido-tradicionales p {
      padding: 0px 0px 20px 0px;
      color: white; }
    .shot-secciones .contenido-tradicionales .img-seccion-tradicionales {
      width: 100%;
      border-radius: 10px; }

.cajadesayuno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px dotted #E977AC;
  border-radius: 10px;
  margin: 0px 0px 50px 0px; }
  .cajadesayuno .item-desayuno {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 49%;
    height: 400px;
    padding: 20px; }
    .cajadesayuno .item-desayuno .menu-desayuno {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center; }
      .cajadesayuno .item-desayuno .menu-desayuno ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
        .cajadesayuno .item-desayuno .menu-desayuno ul li {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: left;
          padding: 10px 50px;
          border: 2px solid #E977AC;
          border-radius: 10px;
          margin: 5px; }
          .cajadesayuno .item-desayuno .menu-desayuno ul li:hover {
            background-color: #E977AC;
            font-style: bold; }
          .cajadesayuno .item-desayuno .menu-desayuno ul li:active {
            background-color: rgba(13, 110, 253, 0.25); }

/* Botones de selector de cajas */
.tabcontent {
  color: white;
  display: none;
  text-align: center;
  width: 6fr;
  height: 1300px; }
  .tabcontent img {
    width: 100%; }
  .tabcontent .cajacontenedora {
    border: 2px dotted white;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .tabcontent .cajacontenedora p {
      color: white; }
    .tabcontent .cajacontenedora .detalle-caja {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .tabcontent .cajacontenedora .detalle-caja ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 50px; }

/* Botones de selector de caja */
#mediana {
  background-color: #E977AC; }

#grande {
  background-color: #E977AC; }

#supergrande {
  background-color: #E977AC; }

@media (max-width: 1000px) {
  .cajadesayuno {
    flex-direction: column; }
    .cajadesayuno .item-desayuno {
      width: 100%; }
      .cajadesayuno .item-desayuno ul li {
        justify-content: center; } }

/* Arreglo en texto princial de Boxes y botnoes de tamaño de cajas */
@media (max-width: 1000px) {
  .cajadesayuno .item-desayuno {
    height: 250px;
    padding: 20px 20px 0px 20px; } }

@media (max-width: 812px) {
  .cajadesayuno .item-desayuno {
    height: 300px;
    padding: 20px 20px 0px 20px; } }

@media (max-width: 612px) {
  .cajadesayuno .item-desayuno {
    height: 400px;
    padding: 20px 20px 0px 20px; } }

@media (max-width: 450px) {
  .cajadesayuno .item-desayuno {
    height: 450px;
    padding: 20px 20px 0px 20px; } }

/* Imagen Prueba huevoestallado */
.huevoestallado {
  width: 100%;
  height: 700px;
  background-image: url(../imagenes/waves.svg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px; }
  .huevoestallado img {
    margin: 0px;
    padding: 0px;
    height: 90%; }
  .huevoestallado .textoestallado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .huevoestallado .textoestallado ul li {
      list-style-type: none;
      font-size: 20px; }
      .huevoestallado .textoestallado ul li img {
        width: 50px;
        height: 50px;
        padding: 10px 10px 5px 0px;
        filter: invert(83%) sepia(23%) saturate(6614%) hue-rotate(291deg) brightness(94%) contrast(93%); }

/* Frase */
.frase {
  width: 100%;
  height: 100px;
  background-color: #E977AC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .frase h5 {
    text-align: center; }

/* Imagen rotada */
.huevo2 {
  margin: 0px;
  background-image: url(../imagenes/waves2.svg);
  background-size: cover;
  width: 100%;
  height: 150px; }

@media (max-width: 1238px) {
  .huevoestallado {
    align-content: flex-start; }
    .huevoestallado img {
      height: 60%; }
    .huevoestallado .textoestallado ul li {
      list-style-type: none;
      font-size: 18px; }
      .huevoestallado .textoestallado ul li img {
        width: 45px;
        height: 45px;
        padding: 10px 10px 5px 0px;
        filter: invert(90%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(113%) contrast(114%); } }

/* Conocenos - imagen de fondo */
.creadores h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 200px 0px 0px 0px; }

.creadores {
  background-image: url(../imagenes/fondo.png);
  background-repeat: repeat-y;
  width: 100%; }

.cajauniverso {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  .cajauniverso .mision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 10px; }
    .cajauniverso .mision img {
      border-radius: 10px; }
  .cajauniverso .vision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 10px; }
    .cajauniverso .vision img {
      border-radius: 10px; }
  .cajauniverso .valores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 10px; }
    .cajauniverso .valores img {
      border-radius: 10px; }

/* Media Query para invertir orden de Vision en mobile */
@media (max-width: 767px) {
  .cajauniverso .vision {
    flex-direction: column-reverse; } }

/* Contactanos */
.contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/fondocontactenos.png);
  margin: 10px;
  background-repeat: none;
  background-size: cover;
  height: 400px; }

.boton {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 20px;
  color: white;
  background-color: #E977AC;
  border: 0px;
  border-radius: 10px;
  width: 200px; }

.flex-container-contactanos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: cover;
  height: 20px; }

.linea-seccion {
  height: 6px;
  background-color: #E977AC;
  border: 0px;
  width: cover;
  margin: 10px; }

/* Formulario de Contactenos */
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: cover;
  background-color: #E977AC;
  padding: 30px;
  margin: 0px auto 50px auto;
  border-radius: 10px; }
  .formulario .campos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; }
  .formulario .enviar {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 20px;
    color: #E977AC;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    width: 200px;
    margin: 30px auto 30px auto;
    padding: 0px; }

/* Media Query Formulario */
@media (max-width: 756px) {
  .formulario {
    width: 100%;
    padding: 5px; } }

@media (max-width: 756px) {
  .campos {
    width: 250px;
    padding: 10px;
    margin: 5px; } }
