*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    font-size: 40px;
    color: #E977AC;
    text-align: center;
    padding: 200px 0px 50px 0px;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #E977AC;
}

h3 {
    font-style: normal;
    font-size: 16px;
    color: black;
}

h4 {
    font-size: 20px;
    color: #E977AC;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}


body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr; /*8fr en total*/
    grid-template-areas:
        "header header header header header"
        ". main main main ."
        ". main main main ."
        "footer footer footer footer footer"
        ;
}

header {
    grid-area: header;
    position: fixed;
    z-index: 100;
    width: 100%;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Menú principal */

.fondoheader {
    background-image: url(../imagenes/fondo.png);
    background-repeat: none;
    background-size: cover;
    padding: 10px;
    text-align: center;
}

.fondoheader img {
    width: 250px;
}

.menu {
    background-image: linear-gradient(to bottom right, #E977AC, #FFDCF4);
}

.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.menu ul li {
    display: flex;
    display: inline-block;
}

.menu ul li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 16px;
}

.menu ul li a:hover {
    background-color: white;
    border-radius: 5px;
    color: #E977AC;
}

.navbar-toggler {
    border: solid white;
}


/* 3 imagenes principales */

.flex-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-principal .principal-item {
    width: 2fr;
    height: 100%;
    padding: 0px 10px 30px 10px;
}

.principal-item img{
    border-radius: 15px;
}

/* Galería de tentaciones */

.titulo-tentaciones {
    padding: 30px;
}    

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    width: cover;

}

.galeria-item {
    width: 150px;
    height: 204px;
    margin: 5px;
    transition: all 0.3s ease-in;
}

.galeria-item img{
    border-radius: 15px;
}

.galeria-item:hover {
    transform: scale(1.1 , 1.1);
}

/* Carousel */

.carousel-item img {
    border-radius: 10px;
}

/* Conocenos - imagen de fondo */

.creadores h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    font-size: 40px;
    color: #E977AC;
    text-align: center;
    padding: 200px 0px 0px 0px;
}

.creadores {
    background-image: url(../imagenes/fondo.png);
    background-repeat: repeat-y;
    width: 100%;
}

.cajauniverso .valores{
    padding: 20px;
    border-radius: 10px;
}

.cajauniverso .valores img{
    border-radius: 10px;
}

/* Universo Rocherie */

.cajauniverso {
    margin: 30px 0px 30px 0px;
}

.imguniverso {
    width: 100%;
}

.contenidouniverso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenidouniverso .universo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}


/* Cuadro de texto + 2 Imagenes (secciones) */

.cajasecciones {
    margin: 30px 0px 30px 0px;
}

.imgsecciones {
    width: 100%;
    border-radius: 10px;
}

.contenidosecciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.contenidosecciones .secciones-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.secciones-item {
    border: #E977AC solid;
    border-radius: 10px;
}

/* Galeria de tortas tradicionales */

.tradicionales-secciones {
    margin: 30px 0px 30px 0px;
}

.img-seccion-tradicionales {
    width: 100%;
    border-radius: 10px;
}

.contenido-tradicionales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenido-tradicionales h4 {
    padding: 20px 0px 0px 0px;
}

.contenido-tradicionales p {
    padding: 0px 0px 20px 0px;
}

/* Contactanos */

.contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/fondocontactenos.png);
    margin: 10px;
    background-repeat: none;
    background-size: cover;
    height: 400px;
}

.boton {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 20px;
    color:white;
    background-color: #E977AC;
    border: 0px;
    border-radius: 10px;
    width: 200px;
}

.flex-container-contactanos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: cover;
    height: 20px;
}

.linea-seccion {
    height:6px;
    background-color: #E977AC;
    border:0px;
    width: cover;
    margin: 10px;
}


/* Footer */

.flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: radial-gradient(circle, #FFDCF4, #E977AC );
    padding: 50px;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin: 5px;
}

#item-footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center
}

#item-footer ul li {
    display: flex;
    display: inline-block;
}

#item-footer ul li a {
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 16px;
}

#item-footer ul li a:hover {
    background-color: white;
    color: #E977AC;
    border-radius: 10px;
}

.logowhite {
    width: 90%;

}

.logo-footer p {
    font-size: 14px;
    color: white;
}



/* Formulario de Contactenos */

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: #E977AC;
    padding: 30px;
    margin: 0px auto 50px auto;
    border-radius: 10px;
}

.campos {
    width: 600px;
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.enviar {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 20px;
    color:#E977AC;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    width: 200px;
    margin: 30px auto 30px auto;
    padding: 0px;
}

.formulario p {
    font-size: 14px;
    color: white;
}


/* Media Query */

@media (max-width: 756px) {
.flex-principal .principal-item {
    padding: 20px 10px 0px 10px;
}
}

/* Media Query Formulario */

@media (max-width: 756px) {
.formulario {
    width: 100%;
    padding: 5px;
}
}

@media (max-width: 756px) {
.campos {
    width: 250px;
    padding: 10px;
    margin: 5px;
}
}


