footer {
    grid-area: footer;
}

/* Footer */

.flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: radial-gradient(circle, #FFDCF4, $primary-color );
    padding: 50px;
    .logo-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
        margin: 5px;
        #item-footer ul {
            list-style: none;
            margin: 0px;
            padding: 0px;   
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center
        }
    }
}

#item-footer ul li {
    display: flex;
    display: inline-block;
    a {
        color: $tertiary-color;
        display: block;
        padding: 10px 10px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-style: bold;
        font-size: 16px;
        img {
            width: 60px;
            height: 60px;
            filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(38deg) brightness(100%) contrast(106%);
        }        
    }
    a:hover {
        img {
            filter: invert(75%) sepia(19%) saturate(5284%) hue-rotate(292deg) brightness(97%) contrast(88%);
        }
    }
}

.logowhite {
    width: 90%;

}

.logo-footer p {
    font-size: 14px;
    color: $tertiary-color;
    padding: 10px 0px 0px 0px;

}


@media (max-width: 767px) {
    .flex-footer {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}