.cajadesayuno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dotted $primary-color;
    border-radius: 10px;
    margin: 0px 0px 50px 0px;
    .item-desayuno {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 49%;
        height: 400px;
        padding: 20px;
        .menu-desayuno {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;
                    padding: 10px 50px;
                    border: 2px solid $primary-color;
                    border-radius: 10px;
                    margin: 5px;
                    &:hover {
                        background-color: $primary-color;
                        font-style: bold;
                    }
                    &:active {
                        background-color: rgba(13, 110, 253, 0.25);
                    }
                }
            }
        }
    }
}
    
  /* Botones de selector de cajas */
  .tabcontent {
    color: white;
    display: none;
    text-align: center;
    width: 6fr;
    height: 1300px;
    img {
        width: 100%;
    }
    .cajacontenedora {
        border: 2px dotted $tertiary-color;
        border-radius: 10px;
        margin: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        p {
            color: $tertiary-color;
        }
        .detalle-caja {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px 50px;
            }
        }
    }
    /* Formulario de Contactenos */
    .formulario {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $primary-color;
        padding: 30px;
        margin: 0px auto 50px auto;
        border-radius: 10px;
        .campos {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5px;
            margin: 0px 0px 10px 0px;
            border: 1px solid;
            border-radius: 5px;
            border-color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
        }
        .eleccion {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5px;
            margin: 10px 0px 10px 0px;
            border: 1px solid;
            border-radius: 5px;
            border-color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            .elemento {
                padding: 0px 30px 0px 5px;
            }
        }
        .enviar {
            font-family: 'Poppins', sans-serif;
            font-style: bold;
            font-size: 20px;
            color: $primary-color;
            background-color: white;
            border: 1px;
            border-radius: 10px;
            width: 200px;
            margin: 30px auto 30px auto;
            padding: 0px;
        }
    }
}

  /* Botones de selector de caja */ 
  #mediana {background-color:$primary-color;}
  #grande {background-color:$primary-color;}
  #supergrande {background-color:$primary-color;}


@media (max-width: 1000px) {
.cajadesayuno {
    flex-direction: column;
    .item-desayuno {
        width: 100%;
            ul {
                li {
                    justify-content: center;
                }
            }
        }
    }
}


/* Arreglo en texto princial de Boxes y botnoes de tamaño de cajas */

@media (max-width: 1000px) {
.cajadesayuno {
    .item-desayuno {
        height: 250px;
        padding: 20px 20px 0px 20px;
        }
    }
}

@media (max-width: 812px) {
    .cajadesayuno {
        .item-desayuno {
            height: 300px;
            padding: 20px 20px 0px 20px;
        }
    }
}

@media (max-width: 612px) {
    .cajadesayuno {
        .item-desayuno {
            height: 400px;
            padding: 20px 20px 0px 20px;
        }
    }
}

@media (max-width: 450px) {
    .cajadesayuno {
        .item-desayuno {
            height: 450px;
            padding: 20px 20px 0px 20px;
        }
    }
}