/* Conocenos - imagen de fondo */

.creadores h1 {
    font-weight: bold; 
    font-size: 40px;
    text-align: center;
    padding: 200px 0px 0px 0px;
}

.creadores {
    background-image: url(../imagenes/fondo.png);
    background-repeat: repeat-y;
    width: 100%;
}

.cajauniverso {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .mision {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
    }
    .vision {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
    }
    .valores {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
    }
}


/* Media Query para invertir orden de Vision en mobile */

@media (max-width: 767px) {
    .cajauniverso {
        .vision {
            flex-direction: column-reverse;
        }
    }
}