/* Carousel */

.carousel-item img {
    border-radius: 10px;
}

.creadores {
    background-image: url(../imagenes/fondo.png);
    background-repeat: repeat-y;
    width: 100%;
}


/* Galeria de tortas tradicionales */

.tartas-secciones {
    margin: 30px 0px 0px 0px;
    .contenido-tradicionales {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        h4 {
            padding: 20px 0px 20px 0px;
        }
        p {
            padding: 0px 0px 20px 0px;
        }
        .img-seccion-tradicionales {
            width: 100%;
            border-radius: 10px;
        }
    }
}

/* Galeria de tortas tradicionales */

.shot-secciones {
    background-color: $primary-color;
    .contenido-tradicionales {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        h4 {
            padding: 20px 0px 20px 0px;
            color: $tertiary-color;
        }
        p {
            padding: 0px 0px 20px 0px;
            color: $tertiary-color;
        }
        .img-seccion-tradicionales {
            width: 100%;
            border-radius: 10px;
        }
    }
}
