.cajadesayuno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../imagenes/waves.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    .item-desayuno {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 49%;
        height: 300px;
        .menu-desayuno {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;
                    padding: 10px 50px;
                    border: 2px solid $primary-color;
                    border-radius: 10px;
                    margin: 5px;
                    &:hover {
                        background-color: $primary-color;
                        font-style: bold;
                    }
                    &:active {
                        background-color: rgba(13, 110, 253, 0.25);
                    }
                }
            }
        }
    }
}
    
  /* Botones de selector de cajas */
  .tabcontent {
    color: white;
    display: none;
    text-align: center;
    width: 6fr;
    height: 950px;
    img {
        width: 100%;
    }
    .cajacontenedora {
        border: 2px dotted $tertiary-color;
        border-radius: 10px;
        margin: 50px;
        padding: 20px;
    }
}

  /* Botones de selector de caja */ 
  #mediana {background-color:$primary-color;}
  #grande {background-color:$primary-color;}
  #supergrande {background-color:$primary-color;}


  @media (max-width: 1000px) {
    .cajadesayuno {
        flex-direction: column;
        .item-desayuno {
            width: 100%;
                ul {
                    li {
                        justify-content: center;
                    }
                }
            }
        }
    }