/* Huevo roto */

.huevo {
    margin: 0px;
    background-image: url(../imagenes/waves.svg);
    background-size: cover;
    width: 100%;
}

.imghuevo {
    width: 100%;
}

.contenidohuevo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .huevo-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100%;
            .buletrocherie {
            width: 40px;
            height: 40px;
            padding-right: 5px;
            }
            ul {
                list-style: none;
                li {
                    padding: 20px;
                }
            }
    }
}

/* Frase */

.frase {
    width: 100%;
    height: 100px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
        text-align: center;
    }
}

/* Imagen rotada */

.huevo2 {
    margin: 0px;
    background-image: url(../imagenes/waves2.svg);
    background-size: cover;
    width: 100%;
    height: 150px;
}